$buttonTransition: all .4s ease-in-out;
$sans: 'Figtree', sans-serif;
$serif: 'Source Serif Pro',serif;
$sansH1: 700 2.5rem 'Figtree', sans-serif;
$sansH2: 600 2.3rem 'Figtree', sans-serif;
$serifH1: 400 2.9rem $serif;
$spacingH1: .1rem;
$sansH3: 600 .9rem $sans;
$sansH37: 700 1rem $sans;
$serifH3: 600 1.8 $serif;
$sansLink: 600 13px $sans;
$sansTable: 300 13px $sans;
$cartMenu: 700 13px $sans;
$cartMenu12: 12px $sans;

@mixin linkButtonFull {
    display: inline-block;
    text-align: center;
    font: $sansLink;
    text-transform: uppercase;
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px 0;
    border: 2px solid lightgrey;
    transition: $buttonTransition;
    cursor: pointer;

    &:hover {
        background: black;
        color: cornsilk;
        border-color: black;
    }
}

@mixin linkButtonPrimary {
    display: inline-block;
    text-align: center;
    font: $sansLink;
    text-transform: uppercase;
    background-color: #b4841e;
    color: white;
    width: 100%;
    padding: 20px 0;
    border: 2px solid #b4841e;
    cursor: pointer;
    transition: $buttonTransition;

    &:hover {
        background: black;
        color: cornsilk;
        border-color: black;
    }
}

@mixin authSubmit {
    font: $sansLink;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 16px;
    background-color: #b4841e;
    color: white;
    width: 100%;
    padding: 20px;
    border: 0;
    transition: $buttonTransition;

    &:hover {
        background: black;
        color: cornsilk;
    }
}

@mixin navCartButton {
    font: $sansLink;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background-color: #b4841e;
    color: white;
    width: 100%;
    padding: 20px;
    border: 0;
    transition: $buttonTransition;

    &:hover {
        background: black;
        color: cornsilk;
    }
}

@mixin Position {
    padding: 0 48px;

}

@mixin authInputText {
    font: 600 13px $sans;
    border: 0;
    border-bottom: 2px solid lightgrey;
    width: 100%;
    padding: 11px 0;
    margin-bottom: 44px;
}

@mixin authHeading {
    font: 600 1.6rem $sans;
    margin-bottom: 32px;
    letter-spacing: .8px;
}

@mixin placeholder {
    flex: 1 1 none;
    padding: 40px 40px 48px; 
}