$buttonTransition: all .4s ease-in-out;
$sans: 'Figtree', sans-serif;
$serif: 'Source Serif Pro',serif;
$sansH1: 700 2.5rem 'Figtree', sans-serif;
$spacingH1: .1rem;
$sansH3: 600 1.1rem 'Figtree', sans-serif;

@mixin linkButton {
    
}

@mixin pagePosition {

}

// @mixin 