.page {
    padding: 200px 20% 72px 20%;
    background: black;
    color: white;
}
.quickHeading {
    font-size: 3rem;
}
.quickP {
font: 600 1rem 'Figtree',
        sans-serif;
    margin-top: 1rem;
}

