@import "vars.scss";

.shopHeader {
    padding: 160px 0 40px;
    background: #f6f6f6;
    .headerText {
        padding: 0 48px;
        h1 {
            letter-spacing: .1rem;
            text-transform: uppercase;
            font: $sansH1;
        }
        
    }

}

.shopFilters {
    font: $sansLink;
    text-transform: uppercase;
    color: rgb(190, 188, 188);
    padding: 44px 48px;
}

.shopTable {
    position: relative;
    z-index: 2;
    border-top: 2px solid lightgrey;
    margin-bottom: 48px;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    thead {
        border-bottom: 2px solid black;
        th {
            text-align: left;
            padding: 18px 3px;
        }
    }
}

.tableTitle {
    font: $sansLink;
}
