@import "vars.scss";

.shopHeader {
    padding: 160px 0 40px;
    background: #f6f6f6;
    .headerText {
        padding: 0 48px;
        h1 {
            letter-spacing: .1rem;
            text-transform: uppercase;
            font: $sansH1;
        }
        
    }

}

.shopFilters {
    font: $sansLink;
    text-transform: uppercase;
    color: rgb(190, 188, 188);
    padding: 44px 48px;
}

.shopTable {
    position: relative;
    z-index: 2;
    width: 100%;
    border-top: 2px solid lightgrey;
    margin-bottom: 48px;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    thead {
        font: 400 .93rem $serif;
        color: rgb(26, 26, 26);
        border-bottom: 2px solid black;
        th {
            text-align: left;
            padding: 28px 12px;
        }
    }
    tbody {
        font: $sansTable;
        color: #8e8e8e;
        tr {
            border-bottom: 2px solid lightgrey;
            cursor: pointer;
        }
        td {
            padding: 12px 8px;
            vertical-align: middle;
        }
    }
}

.tableTitle {
    font: $sansLink;
    color: black
}

.tableSpine {
    color: black;
}

.tableImg {
    img{
        max-height: auto;
        max-width: 48px;
        // display: block;

    }
}

.tableDirector {
    font: 300 italic 13px $sans;
    // color: #8e8e8e;
}