@import "vars.scss";

.fullPage {
    background-color: #f6f6f6;
    min-height: 100vh;
    padding: 104px 48px 48px;
}

.statusBox {
    background: white;
    box-sizing: border-box;
    padding: 48px;
    border: 48px solid #ededed;
    margin: 55px 0;
    display: flex;
    justify-content: center;
}

.statusMessage {
    font: $sansH2
}

.return {
    @include linkButtonPrimary;
    background-color: #b4841e;
    color: black;
    border: 0;
    width: 250px;
    // float: right;
    // clear: both;
}