/* TODO Add site wide styles */
/* @import "./reset.css" */

html {
    overflow-y: scroll;
}

body {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    line-height: 1.6;
}

b {
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
    /* cursor: pointer; */
}

a:visited {
    color: inherit;
}

h2 {
    font-size: 18px;
}

.errors {
    color: red;
}

.container {
    width: 100%;
}

.centered {
    margin: 0 auto;
}

.shopPadded {
    padding: 0 54px 64px;
    overflow-x: auto;
}

