/* TODO Add site wide styles */
/* @import "./reset.css" */

body {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
    /* cursor: pointer; */
}

a:visited {
    color: inherit;
}

.errors {
    color: red;
}