@import "vars.scss";

.splashFeature {
    // width: 100%;
    // position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 10%;

}

.spotlight {
    background: url("https://s3.amazonaws.com/criterion-production/spotlight_images/5937-9ffbed240dc1b870dbe98c5727b39dca/BbdP96xchg4NUKA88ZFOX0yxqephR0_w1300.jpg") no-repeat center center fixed;
    background-size: cover;
}

.announce {
    font: 300 4rem 'Figtree', sans-serif;
    color: white;
    margin-bottom: 24px;
}

.authLink {
    display: inline-block;
    text-align: center;
    font: 600 13px 'Figtree', sans-serif;
    text-transform: uppercase;
    background-color: white;
    color: black;
    width: max-content;
    padding: 20px 100px;
    border: 2px solid lightgrey;
    transition: $buttonTransition;

    &:hover {
        background: black;
        color: cornsilk;
        border-color: black;
    }
}