@import "vars.scss";


.fullPage {
    background-color: #f6f6f6;
    min-height: 100vh;
    padding: 104px 48px 48px;
    h1 {
        font: $sansH2;
    }
}

.cartBox {
    background: white;
    box-sizing: border-box;
    padding: 48px;
    border: 48px solid #ededed;
    margin: 55px 0;
}

.cartHeader {
    font: $sansLink;
    text-transform: uppercase;
    margin-bottom: 56px;
}

.cartList {
    border-top: 2px solid #f6f6f6;
    padding-top: 28px;
}

.cartTable {
    margin-bottom: 28px;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 28px;
    border-bottom: 2px solid #f6f6f6;
    div {
        flex: 2 1 0;
        padding: 24px;
    }
    img {
        flex: 1 1 0;
        max-width: 120px;
    }
    .titleBox {
        font: $sansLink;
        color: #b4841e;
        p {
            font: $serif;
            padding-top: 24px;
            color: #00CC8F;
            font-style: italic;
            span {
                color: #A0A0A0;
            }
        }
    }
    .price {
        padding-top: 24px;
        font: $sansLink;
    }
    &:last-of-type {
        margin-bottom: 0;
    }

}

.cartMessage {
    font: $serifH1;
    font-size: 4rem;
    text-align: center;
    margin: 0 48px;
    padding: 128px 0px;
}

.cartStats {
    margin-top: 56px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.cartTotals {
    display: flex;
    justify-content: space-between;
    font: $sansLink;
    padding-bottom: 10px;
    border-bottom: 2px solid #f6f6f6;
}

.checkout {
    margin: 36px auto;
    @include linkButtonPrimary;
    background-color: #00CC8F;
    color: white;
    border: 0;
    width: 250px;

}

.return {
    @include linkButtonPrimary;
    background-color: #b4841e;
    color: black;
    border: 0;
    width: 250px;
    // float: right;
    // clear: both;
}

.remove {
    padding-top: 5px;
    font: $sansLink;
    text-transform: uppercase;
    color: #A0A0A0;
    cursor: pointer;
}

.updateForm {
    label {
        font: $sansLink;
        font-size: 12px;
        text-transform: uppercase;
        color: #A0A0A0;
    }
}

.update {
    font: $sansLink;
    text-transform: uppercase;
    border: none;
    padding-right: 32px;
    color:#A0A0A0;
    overflow: visible;
    background: transparent;
    cursor: pointer;
}