@import "vars.scss";

.content {
    display: flex;
    flex-wrap: nowrap;
    gap: 48px;
    p {
        margin-bottom: 20px;
    }
    header {
        @include authHeading;
    }
}
.loginForm {
    margin: 200px 48px 25px 96px;
    // margin-bottom: 25px;
    // margin-top: 200px;
    // margin-left: 48px;
    width: 50%;
    min-width: 600px;
    input:focus {
        outline: none;
    }
}

.right {
    background: #f6f6f6;
    flex-grow: 1;
}

.text {
    @include authInputText;
}

.submit {
    @include authSubmit;
}

.question {
    font: $sansLink;
}

.authLink {
    @include linkButtonFull;
}

