.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 5.20833%;
    margin-left: 48px;
    p {
        margin-bottom: 20px;
    }

    header {
        margin-bottom: 32px;
        font-family: 'Figtree', sans-serif;
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: .8px;
    }
    input:focus {
        outline: none;
    }
}

.text {
    font: 600 13px 'Figtree', sans-serif;
    // background-color: lightblue;
    border: 0;
    border-bottom: 2px solid lightgrey;
    width: 100%;
    padding: 11px 0;
    margin-bottom: 44px;
    font-size: 13px;
}

.submit {
    font: 600 13px 'Figtree', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 16px;
    background-color: #b4841e;
    color: white;
    width: 100%;
    padding: 20px;
    border: 0;
}

.question {
    font: 600 13px 'Figtree', sans-serif;
}

.authLink {
    display: inline-block;
    text-align: center;
    font: 600 13px 'Figtree', sans-serif;
    text-transform: uppercase;
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px 0px;
    border: 2px solid lightgrey;
}