@import "vars.scss";

.navHead {
    z-index: 1;
    padding: 20px 64px;
    background-color: #f6f6f6;
}

.navHeadSplash {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 20px 64px;
}

.navBar {
    display: flex;
    justify-content: flex-end;
}

.home {
    margin-right: auto;
    .logoLink {
        cursor: pointer;
    }
}

.quickLinks {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    gap: 24px;
    margin-right: 42px;
    .qLink {
    transition: all .2s ease-in;
        &:hover {
        color: #b4841e;
    }
    }
}
