.profileLink {
    font: 400 .9rem 'Figtree',
        sans-serif;
    text-decoration: none;
    color: dimgrey;

    &:hover {
        color: black;
    }
}

.button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

// .profileDropdown {
//     position: relative;
// }